body{
  margin: 0px 0px 0px 5px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'cinzel', serif;
  background-color: rgb(240, 240, 240);
  /* height: 100vh; */
  /* width: 99vw; */
}
.container{
  display: flex;
 
  /* height: 100vh; */
  
}
.mobile{
 position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 99vw;
  background-color: rgb(255, 255, 255);
  z-index: 0;
}

.notch {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 30px;
  background-color: rgb(12, 12, 12);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 2;
}
.mobile-container {
  position: relative;
  height: 667px  ;
  width: 325px;
  border: 10px solid black;
  border-radius: 45px;
  background-color: rgba(255, 255, 255, 0.563);
  z-index: 1;

}
iframe{
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px;
  z-index: 2;
}

.floater{
  margin : 0 auto;
  height: 450px;
  width: 400px;
  background-color: rgb(255, 255, 255)
}
img{
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  object-fit: cover;
}
span{
  position: absolute;
  /* top: 20px; */
  font-size: 150px;
  font-weight: bold;
  background: linear-gradient(90deg, #ee841a, #9f9c9c, #138808);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

/* From Uiverse.io by akshat-patel28 */ 
.button-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 250, 250);
  width: 40px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    rgba(27, 133, 219, 0.5) 5px 10px 15px;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0d0101;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}


